name: GHAS to CSV data report run
on: [push]
jobs:
  Runs-ghas-to-csv-report:
    runs-on: ubuntu-latest
    steps:
      - name: CSV export
        uses: advanced-security/ghas-to-csv@v2
        env:
          GITHUB_PAT: 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
          GITHUB_REPORT_SCOPE: "organization"
          SCOPE_NAME: shelby-test-org
          
      - name: Upload CSV
        uses: actions/upload-artifact@v3
        with:
          name: ghas-data
          path: ${{ github.workspace }}/*.csv
          if-no-files-found: error
